* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font: 400 16px/1.4 arial, sans-serif;
    background-color: #841112;
    transition: opacity .3s;
}

.wrapper {
    width: 1000px;
    padding: 0 10px;
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    background: #FFFFFF;
    padding: 50px;
    display: block;

    border-radius: 5px;
}

section {
    background: #EBEBEB;
    padding: 30px 50px;
    display: block;

    border-radius: 5px;
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #721c24;
}

section,
main {
    margin: 35px 0;
}

button {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    font: 700 16px/1 arial, sans-serif;
    background: #C3C3C3;
    padding: 15px 20px;
    cursor: pointer;

    border-radius: 5px;
    background: linear-gradient(to bottom, #3f95ff, #0059c7);
    color: #FFF;
    border: 1px solid #0048a0;
    box-shadow: inset 0px -2px 2px rgba(255, 255, 255, 0.5);
}

.sl {
    color: #FFF;
    margin: 0 5px;
}

.lt {
    display: flex;
    align-items: center;
    user-select: none;
}

.lt > *:last-child {
    flex-grow: 1;
}

.counter-text {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.counter {
    font-family: 'IBM Plex Mono', monospace;
    color: #F40000;
    font-size: 26px;
    font-weight: 500;
}

.hd {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.hdl {
    width: 120px;
    height: 120px;
    margin-right: 50px;
}

.hdt {
    color: #F40000;
    font: 700 25px/1 arial, sans-serif;
}

.ip h2 { 
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.sb {
    font: 700 20px/1.2 arial, sans-serif;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.sbl input {
    width: 400px;
    text-align: center;
    font: inherit;
    font-family: "IBM Plex Mono";
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    display: block;
    margin: 0 auto;
}

.sbl span {
    text-align: center;
    display: block;
    font-size: 13px;
    margin-top: 5px;
}